/* isi */
.section-1 {
    background-image: url('../img/managed-talent.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh !important;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(32, 65, 96, 0.6);
}

.btn-mulairekrut {
    text-align: center;
    background-color: #fff240;
    font-size: 1.1em;
    border-radius: 10px;
    font-weight: 700;
}

.btn-mulairekrut:hover {
    background-color: #fff240;
    color: black;
}

.section-2-title {
    color: yellow;
    font-size: 2.6em;
    font-weight: 700;
}

.cards-num {
    /* background-size: 150px; */
    background-size: 30%;
    background-position: 100% 90%;
    background-repeat: no-repeat;
    height: 45vh !important;
    width: 20vw;
    background-color: white;
}

ul{
    columns: 2;
}

#insight ul{
    columns: 1;
}

.carousel-control-prev-icon {
    color: black;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.carousel-control-next {
    margin-right: -5%;
}

.carousel-control-prev {
    margin-left: -5%;
}

#carousel-inside img {
    border-radius: 15px !important;
}

.unduh-button {
    color: #017eb7;
    border: 4px solid #017eb7;
    padding: 10px 30px;
    font-weight: 600;
}
.unduh-button:hover {
    color: #017eb7;
    border: 4px solid #017eb7;
    padding: 10px 30px;
    font-weight: 600;
}