.share {
  color: #007acc;
  border: 1px solid #007acc;
  background-color: white;
  padding: 6px 6px;
  border-radius: 5px;
  margin-top: 5px;
}
.share:hover {
  color: white !important;
  background-color: #007acc !important;
}

.swiper{
  /* width: 650px;
  height: 400px;   */
  width: 80%; height:100%;
}

.swiper-button-prev, .swiper-button-next{
  color: black;
}

.share2 {
  color: #007acc;
  border: 1px solid #007acc;
  background-color: white;
  padding: 6px 6px;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 5px 5px 15px lightgray;
  transition: .3s;
}

.text-color{
  transition: .3s;
}

.share2:hover {
  color: white !important;
  fill: white;
  background-color: rgb(1, 126, 183);
}

.share2:hover .text-color{
  color: white !important;
  fill: white;
}

.fontSize2{
  font-size: small;
}

.carouselCard:hover{
  box-shadow: 3px 3px 20px lightgray;
}

.arrow {
  transition: transform .3s linear;
}

.down {
  transform: rotate(180deg);
}

.drop {
  display: none;
}

.btn-radio {
  background-color: #f3f3f3;
}

input[type="radio"] {
  appearance: none;
  margin: 0;
}

.side1:checked+label {
  border-color: #017eb7 !important;
  background-color: #dcf4ff !important;
}

.btn-radio:hover {
  background-color: #f3f3f3 !important;
  color: #017eb7 !important;
}

.filter {
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
}

.cardStyle:hover{
box-shadow: 2px 2px 2px 2px#cccccc;
}

.heart:hover {
  fill: red;

}

.title {
  color: black;
}

a {
  text-decoration: none !important;
}

.heart:hover {
  fill: red;

}

.bgNavbar{
  background-color: #e6e6e6;
  height: 55px;
}

.flex-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  
}

.navbar1:hover {
  fill: red;

}

.title {
  color: black;
}

a {
  text-decoration: none !important;
}

.navbar {
  display: flex;
  justify-content: center;

}

.container {
  display: flex;
  justify-content: center;

}

.container-fluid {
  display: flex;
  justify-content: center;

}

form {
  display: flex;
  justify-content: center;


}

.form-control {
  width: auto;
  color: brown;
}


.locationNav {
  width: 30%;
  font-size: 16px;
  padding: 6px 20px 8px 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' height='17' width='17'%3E%3Cpath d='M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z' fill='%23737373'/%3E%3C/svg%3E");
  background-position: 8px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.forYou {
  background-color: #ffe0b3;
}

.searchLogo {
  
  background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-testid='icon-svg' class='IconStyle__VerticalCenteredSvg-sc-x7d280-0 fElmtI' width='1em' height='1em' fill='currentColor' viewBox='0 0 100 100'%3E%3Cpath d='M70 43c0-14.886-12.114-27-27-27S16 28.114 16 43s12.114 27 27 27 27-12.114 27-27zm30 49.308c0 4.206-3.486 7.692-7.692 7.692-2.044 0-4.027-.841-5.409-2.284L66.286 77.163c-7.031 4.868-15.445 7.452-23.978 7.452C18.93 84.615 0 65.685 0 42.308 0 18.93 18.93 0 42.308 0c23.377 0 42.307 18.93 42.307 42.308 0 8.533-2.584 16.947-7.452 23.978L97.776 86.9C99.16 88.281 100 90.264 100 92.308z'%3E%3C/path%3E%3C/svg%3E");
  
  background-position: 8px;
  padding: 7px 40px 10px 30px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: black;
}

.badgeskills{
  width: fit-content;
  height: 35px;
  border:1px solid #bfbfbf;
  font-size: 14px;
  font-weight: normal;
}

.activeNav{
  color:  #007acc;
  border-bottom: 5px solid #007acc;
}

.nav-item:hover .hoverNav {
  color: #007acc;
}

.s004 form .inner-form {
  width: 100%;
  margin-bottom: 17px;
}

.s004 form .inner-form .input-field {
  width: 100%;
  position: relative;
}

.s004 form .inner-form .input-field .choices {
  margin-bottom: 0;
}

.s004 form .inner-form .input-field .choices .choices__inner {
  min-height: 70px;
  width: 100%;
  background: transparent;
  border: 0;
  background: #fff;
  display: block;
  width: 100%;
  padding: 10px 70px 10px 32px;
  font-size: 18px;
  color: #666;
  border-radius: 34px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}

.s004 form .inner-form .input-field .choices .choices__inner .choices__list .choices__item {
  background: #e7e7e7;
  color: #333;
  line-height: 33px;
  border: 0;
  padding: 0 20px;
  font-size: 16px;
}

.s004 form .inner-form .input-field .choices .choices__inner .choices__list .choices__item .choices__button {
  border-left: 0;
  color: #b2b2b2;
  background-image: url(../images/icons/close.svg);
  background-size: 14px auto;
  padding-left: 0;
  opacity: .3;
  transition: all .2s ease-out, color .2s ease-out;
}

.s004 form .inner-form .input-field .choices .choices__inner .choices__list .choices__item .choices__button:hover {
  opacity: 1;
}

.s004 form .inner-form .input-field .choices .choices__inner .choices__input {
  font-size: 16px;
  color: #333;
  background-color: transparent;
  margin-bottom: 0;
}

.s004 form .inner-form .input-field .choices .choices__list--dropdown {
  background: transparent;
  font-size: 16px;
  color: #fff;
  border: 0;
  padding: 0 32px;
}

.s004 form .inner-form .input-field .choices .choices__list--dropdown .choices__item {
  font-size: 13px;
  height: 25px;
  line-height: 1.3;
  padding: 0;
  padding-top: 5px;
  opacity: .7;
}

.s004 form .inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  align-items: center;
}

.s004 form .inner-form .input-field .btn-search svg {
  fill: #333;
  width: 40px;
  height: 40px;
  transition: all .2s ease-out, color .2s ease-out;
}

.s004 form .inner-form .input-field .btn-search:hover, .s004 form .inner-form .input-field .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.s004 form .inner-form .input-field .btn-search:hover svg, .s004 form .inner-form .input-field .btn-search:focus svg {
  fill: #000;
}


  